# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
2019ricehoustondatagroup3/file-name-000000000000_
2019ricehoustondatagroup3/1987_lightning
2019ricehoustondatagroup3/1987_lightning.csv
2019ricehoustondatagroup3/2010_lightning_data.csv
2019ricehoustondatagroup3/2011_lightning_data.csv
2019ricehoustondatagroup3/2012_lightning_data.csv
2019ricehoustondatagroup3/2013_lightning_data.csv
2019ricehoustondatagroup3/2014_lightning_data.csv
2019ricehoustondatagroup3/2015_lightning_data.csv
2019ricehoustondatagroup3/2016_lightning_data.csv
2019ricehoustondatagroup3/2017_lightning_data.csv
2019ricehoustondatagroup3/2018_lightning_data.csv
2019ricehoustondatagroup3/2019_lightning_data.csv
2019ricehoustondatagroup3/bq-results-20190720-115331-79ayihwbr1b2.csv
2019ricehoustondatagroup3/city.list.json.gz
2019ricehoustondatagroup3/file-name-000000000000_
2019ricehoustondatagroup3/this.csv
2019ricehoustondatagroup3/WeatherPy_Example.pdf
2019ricehoustondatagroup3/1987_lightning
2019ricehoustondatagroup3/1987_lightning.csv
2019ricehoustondatagroup3/file-name-000000000000_
2019ricehoustondatagroup3/1987_lightning
2019ricehoustondatagroup3/1987_lightning.csv
2019ricehoustondatagroup3/file-name-000000000000_
*.csv
2019ricehoustondatagroup3/Yi_1987_Strikes.ipynb
2019ricehoustondatagroup3/Yi_1987.ipynb
Data/TrashData/complete_data.zip
